<head>
  <style>
    body {
      background-image: url("https://bear.org/wp-content/uploads/2008/01/marking_utility_pole_mud.jpg");
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: cover;
      font-family: timeburner;
    }
    .poster-container {
      text-align: center;
    }
    .poster {
      background-image: url("https://i.pinimg.com/originals/b2/34/4f/b2344f505822df9ff64c7641c55c4159.jpg");
      background-repeat: no-repeat, repeat;
      background-position: center;
      margin-bottom: 30px;
      margin-left: 50px;
      display: inline-block;
      width: 600px;
      height: 820px;
    }
    .poster-top {
      background-image: url("https://i.pinimg.com/originals/b2/34/4f/b2344f505822df9ff64c7641c55c4159.jpg");
      background-repeat: no-repeat, repeat;
      background-position: center;
      margin-bottom: 30px;
      margin-left: 50px;
      display: inline-block;
      width: 600px;
      height: 460px;
    }
    .top-label {
      display: inline;
      font-size: 48px
    }
    .breed {
      padding-left: 100px;
    }
    .pet-image {
      padding-left: 100px;
      padding-right: 100px;
    }
  </style>
</head>
<body>
    <div class="poster-container">
      <div class="poster-top">
        <h1 style="text-align: center; font-size: 60px; color: #00b894;">Download Retrievr</h1>
        <p style="color: #00b894; font-size: 19px; margin-top: -20px;">Download the Retrievr app to help pet owners recover their lost pets</p>
        <div class="store-div-mobile">
        <div>
            <a href="https://apps.apple.com/app/id1479709561"><img src="https://www.hatterasrealty.com/sites/default/files/uploads/apple-app-store-icon.png" height="120" alt="app store"/></a>
          </div>
          <div style="margin-top: 10px;">
            <img src="https://miro.medium.com/max/5250/1*OIIv4FEjJQMqh-zEPhtlYA.png" height="120" alt="play store"/>
          </div>
        </div>
      </div>
    </div>
  <% if @posters.length < 1 %>
    <div class="poster-container">
      <div class="poster">
        <h1 style="text-align: center; font-size: 60px; color: red;">No pets are currently missing!</h1>
        <div class="pet-image">
          <img src="https://thumbs.gfycat.com/MellowDeadLacewing-size_restricted.gif" height="300" width="380">
        </div>
      </div>
    </div>
    <% else %>
    <% @posters.each do |poster| %>
      <div class="poster-container">
        <div class="poster" onclick="mapsSelector(<%= poster.lat%>, <%= poster.long%>)">
          <h1 style="text-align: center; font-size: 60px; color: red;">Missing</h1>
          <div>
            <h2 class="top-label"><%= poster.pet.name %></h2>
            <h2 class="top-label breed"><%= poster.pet.breed %></h2>
          </div>
          <div class="pet-image">
            <img src=<%=poster.pet.image.service_url%> height="300" width="380">
          </div>
          <p class="bottom" style="font-size: 28px;"> Click this poster for <%= poster.pet.name %>'s last known location<p>
        </div>
      </div>
    <% end %>
  <% end %>
  <script>
    function mapsSelector(lat, lon) {
      if
        ((navigator.platform.indexOf("iPhone") != -1) ||
         (navigator.platform.indexOf("iPod") != -1) ||
         (navigator.platform.indexOf("iPad") != -1))
        window.open(`maps://maps.google.com/maps?daddr=${lat},${lon}&amp;ll=`);

      else
        window.open(`https://maps.google.com/maps?daddr=${lat},${lon}&amp;ll=`);
    }
  </script>
</body>
