<head>
  <style>
    body {
      background-image: url("https://bear.org/wp-content/uploads/2008/01/marking_utility_pole_mud.jpg");
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: cover;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    .poster-container {
      text-align: center;
    }
    .poster {
      background-image: url("https://i.pinimg.com/originals/b2/34/4f/b2344f505822df9ff64c7641c55c4159.jpg");
      background-color: rgb(244, 243, 239, 0.6);
      background-repeat: no-repeat, repeat;
      background-position: center;
      margin-bottom: 30px;
      margin-left: 50px;
      display: inline-block;
      height: 65%;
      text-align: center;
    }
    .top-label {
      display: inline;
      font-size: 48px
    }
    .breed {
      padding-left: 100px;
    }
    .pet-image {
      padding-left: 100px;
      padding-right: 100px;
    }
    .found-button {
      margin-left: 15%;
      width: 70%;
      height: 80px;
      background-color: #1320E0;
      border-radius: 10px;
    }

  </style>
</head>
<body>
  <div class="poster-container">
    <div class="poster">
      <% if @pet.missing %>
        <h1 style="text-align: center; font-size: 60px; color: red;">Missing</h1>
      <% else %>
        <h1 style="text-align: center; font-size: 60px; color: green;">Safe!</h1>
      <% end %>
      <div>
        <h2 class="top-label"><%= @pet.name %></h2>
        <h2 class="top-label breed"><%= @pet.breed %></h2>
      </div>
      <div class="pet-image">
        <img src=<%=@pet.image.service_url%> height="300" width="380">
      </div>
      <% if @pet.posters.length > 0 %>
        <p class="bottom" style="font-size: 38px;"> Owner: <%= @pet.user.name %></p>
        <p class="bottom" style="font-size: 38px;"> Call: <%= link_to @pet.user.phone, "tel:#{@pet.user.phone}" %></p>
        <div class="found-button" onclick="notifyOwner( <%= @pet.id %> , <%= @pet.user.phone %> )">
          <p style="text-align: center; color: white; padding-top: 30px; font-size: 120%;">Let <%= @pet.user.name %> know you found <%= @pet.name %></p>
        </div>
      <% end %>
    </div>
  </div>
  <script>
    function notifyOwner(petId, phone) {
      let pos = {
        finder_name: "Found",
      }
      fetch(`http://retrievr-api.herokuapp.com/api/v1/pets/${petId}`, {
        method: "PATCH",
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(pos)
      })
      alert("Please call the owner!")
    }

    function redirectFound() {
      if (!<%= @pet.missing %>) {
        window.location.replace("http://retrievr-api.herokuapp.com/missing-posters")
      }
    }

    // window.redirectFound()
  </script>
</body>
